{
  "name": "{{pluginName}}",
  "version": "1.0.0",
  "description": "{{description}}",
  {{#hasMain}}"main": "main.js",{{/hasMain}}
  "scripts": {
    "build": "echo \"Build script here\"",
    "test": "echo \"Test script here\""
  },
  "keywords": ["examaware", "plugin"],
  "author": "{{author}}",
  "license": "MIT",
  "peerDependencies": {
    "electron": "^31.0.0"
  }
}